body {
    /* background-color: rgb(127, 128, 133); */
    background-image: url("../images/weather.jpg");
    height: 100vh;
    width: 100vw;
}

header {
    background-color: rgba(48, 49, 53, 0.4);
    color: white;
    margin: auto;
    text-align: center;
    padding: 10px;
} 

.row {
    margin-bottom: 20px;
}

.info {
    float: left;
    clear: both;
}

.days {
    width: 20vw;

}

/* .red {
    background-color: rgb(177, 6, 6);
}

.yellow {
    background-color: rgb(224, 224, 0);
}

.green {
    background-color: rgb(26, 99, 26);
} */

#card {
    background-color: rgb(199, 194, 194, 0.6);
    border-radius: 10px;
}
.tempFont {
    font-size: 14px;
}

.col-md-4 {
    background-color: rgb(199, 194, 194, 0.4);
    border-radius: 10px;
}

.floats {
    display: inline-block;
    padding: 5px;
}

.hidden {
    display: none;
}

.centerme {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.colHeight {
    max-height: 80vh;
    overflow: auto;
}

.uv {
    padding: 0em 0.5em 0em 0.5em;
}