header {
    background-color: rgb(50, 63, 105);
    color: white;
    margin: auto;
    text-align: center;
    padding: 10px;
} 

/* body {
    margin: 0px;
} */


/* div {
    padding: 10px;
    border: 1px solid gray;
} */

#sticky-footer {
    bottom: 0px;
    position: absolute;
    width: 100%;
    background-color: rgb(50, 63, 105);
    color: white;
    font-size: 24px;
    padding: 10px;
    text-align: center;
}

.row {
    margin-bottom: 20px;
}

/* .col {
    border: solid 1px black;
} */

.info {
    float: left;
    clear: both;
}

.days {
    width: 20vw;

}

/* body {
    background-color
} */

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

#card {
    border: 1px solid rgb(179, 177, 177);
    border-radius: 10px;
}
.tempFont {
    font-size: 14px;
}

.col-md-4 {
    background-color: rgb(243, 241, 241);
    border-radius: 10px;
}